.skills {
  margin-top: 10%;
  height: 100vh;
  max-width: 75rem;
  display: block;
  margin-left: 1em;
}

.icons {
  /* padding-left: 2em; */

  margin-left: 1em !important;
  margin-top: 1em !important;
  color: grey;
}

#html {
  margin-left: 0em !important;
}

.icons :hover {
  color: #5f5c6e (110, 94, 94);
}
