@import url("https://fonts.googleapis.com/css?family=Saira+Extra+Condensed&display=swap");

.about {
  margin-top: 10%;
  height: 100vh;
  max-width: 75rem;
  display: block;
  margin-left: 1em;
}
h1 {
  color: #343a40;
  font-size: 6rem !important;
  line-height: 5.5rem !important;
}

h1 span {
  font-size: 6rem !important;
  line-height: 5.5rem !important;
  color: rgb(134, 134, 156) !important;
}

h3 {
  color: #5a5a5a;
  font-size: 2rem !important;
  line-height: 2rem !important;
}

h3 span {
  font-size: 2rem !important;
  line-height: 2rem !important;
  color: rgb(134, 134, 156) !important;
}
.disp {
  font-family: "Saira Extra Condensed";
  font-weight: 1000;
}

.social a {
  color: #343a40;
}

.social a:hover {
  color: rgb(134, 134, 156) !important;
}

.icons {
  margin-left: 2em;
  margin-top: 2em;
  cursor: pointer;
}

.icons:hover {
  color: rgb(134, 134, 156) !important;
}

.about-description {
  padding-left: 1em;
}
