.about {
  margin-top: 20%;
  height: 100vh;
  max-width: 75rem;
  display: block;
}

.about-me {
  background: black;
  max-height: 100%;
  padding: 2em;
}

.about-me img {
  width: 25%;
}

.about-description {
  text-align: left;
}

.social {
  padding: 1em;
}

.social a {
  color: rgb(53, 53, 53);
}

.social a:hover {
  color: rgb(136, 135, 138);
}
.icons {
  margin-left: 2em;
  margin-top: 2em;
  cursor: pointer;
}

.icons-heading {
  margin-top: 2em;
}
