
.work-description {
  line-height: 1.5em;
  height: 6em;
  overflow: hidden;
  text-align: left;
  visibility: hidden;
}

.see-button {
  color: rgb(255, 255, 255) !important;
  background: rgb(57, 20, 116) !important;
  border-radius: 0px !important;
  transition: all 0.5s;
}

.see-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.see-button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.see-button:hover span {
  padding-right: 25px;
}

.see-button:hover span:after {
  opacity: 1;
  right: 0;
}

.see-button:hover {
  color: rgb(255, 255, 255) !important;
  background: rgb(82, 81, 85) !important;
  border-radius: 1px !important;
}

.work-item-col:hover .work-description {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
  position: relative;
}

.work-image {
  width: 100%;
}

.work-image:hover .work-description {
  visibility: visible;
  opacity: 1;
  position: absolute;
}

.tag {
  border: solid 1.5px silver;
  padding: 2px;
  color:silver;
  margin-left: 2px;
}
